<!-- Hey, Emacs! This is an -*- xml -*- file!-->

<launch>

<node name="RxTx" pkg="rxtx" type="RxTx" output="screen">
  <param name="SerialPort" value="/dev/ttyUSB0" />
  <param name="BaudRate" value="38400" />
</node>

<node name="HoverboardLL" pkg="hoverboard" type="HoverboardLL"  output="screen" />
<node name="Hovercraft" pkg="hovercraft" type="HoverCraft"  output="screen" />

<node name="JoyStick" pkg="joystick" type="joystick"/>
<node name="Controller" pkg="controller" type="controller"/>
<node name="JoyNode" pkg="joy" type="joy_node">
	<param name="dev" value="/dev/input/js1" />
</node>

</launch>
