<!-- Hey, Emacs! This is an -*- xml -*- file!-->

<launch>

<node name="JoyStick" pkg="controller" type="joystick"/>
<node name="JoyAngleIntegrator" pkg="controller" type="joyAngleIntegrator"/>
<node name="Arbitrator" pkg="controller" type="arbitrator"/>
<node name="AngularPositionPID" pkg="controller" type="angularPositionPID"/>
<node name="ThrusterMapping" pkg="controller" type="thrusterMapping"/>
<node name="JoyNode" pkg="joy" type="joy_node">
	<param name="dev" value="/dev/input/js1" />
</node>

</launch>
